<%= simple_form_for([@category, @wish]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: {class: 'form-control'}, required: true %>
    <%= f.input :start %>
    <%= f.input :finish %>
    <%= f.input :body, input_html: {class: 'form-control'}, label: 'Description' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary form-control', value: SUBMIT_TEXT %>
  </div>
<% end %>
