<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @wish.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @wish.finish %>
</p>

<p>
  <strong>Status:</strong>
  <%= @wish.status %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wish.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @wish.category_id %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
