
<!-- ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @category.title, @category %></li>
  <li class="active"><%= @wish.title %></li>
</ol -->


<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @wish.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @wish.finish %>
</p>

<p>
  <strong>Status:</strong>
  <%= @wish.status %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wish.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @wish.category_id %>
</p>

<%= link_to 'Edit', edit_category_wish_path %> |
<%= link_to 'Back', category_path(@category)%>
