<%= simple_form_for(@category, html: {class: 'form-inline'}) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class=" col-md-3">
    <%= f.input :noun,label: false, required: true, input_html: {class: 'form-control'}, placeholder: 'e.g.Books'
    %>
  </div>
  <div class="col-md-3"><span id="phrase"><%= KEY_PHRASE %></span></div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">to</span>
      <%= f.input :verb,label: false, required: true, input_html: {class: 'form-control'}, placeholder: 'e.g.read' %>
    </div>
  </div>
  <div class="col-md-2">
    <%= f.button :submit, class: 'btn btn-primary form-control',value: SUBMIT_TEXT %>
  </div>
</div>
<% end %>
