<%= simple_form_for(@category, html: {class: 'form-inline'}) do |f| %>
<%= f.error_notification %>
<div class="form-inputs row">
  <div class=" col-md-3">
    <div class="input-group">
      <%= f.input :noun,label: false, required: true, input_html: {class: 'form-control'}, placeholder: 'e.g.Books'
      %>
      <% if I18n.locale == :ua %>
      <span class="input-group-addon">,</span>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"><span id="phrase"><%= t('site_phrase') %></span></div>
  <div class="col-md-3">
    <div class="input-group">
      <% if I18n.locale == :en %>
      <span class="input-group-addon">to</span>
      <% end %>
      <%= f.input :verb,label: false, required: true, input_html: {class: 'form-control'}, placeholder: 'e.g.read' %>
    </div>
  </div>
</div>
<div class="form-inputs row">
  <div class="col-xs-3">
    <%= f.file_field :image,label: 'Image', input_html: {class: 'form-control'}, required: true %>
  </div>
  <div class="col-xs-2">or add image url:</div>
  <div class="col-xs-7">
    <%= f.input :remote_image_url, label: false, input_html: {class: 'form-control'}, placeholder: 'image url' %>
  </div>
</div>
<div class="form-inputs">
  <%= f.button :submit, class: 'btn btn-primary form-control',value: t('submit_text') %>
</div>
<% end %>
